.game-over-card {
  margin: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: var(--ion-color-light);
}

ion-badge {
  padding: 6px 10px;
  border-radius: 6px;
}

ion-card-title, ion-card-subtitle {
  text-align: center;
}


ion-card-subtitle {
  font-size: 16px;
  color: var(--ion-color-medium);
}

.precision-badge{
  --color:rgb(220, 220, 220);
  font-size: 20px;
}

.succes-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.succes-title.success {
  background-color: var(--ion-color-success);
  color: rgb(0, 0, 0);
}
.succes-title.failed {
  background-color: var(--ion-color-danger);
  color: rgb(0, 0, 0);
}