<app-header title="Options"></app-header>

<ion-content>
  <div class="cardList">

    <!-- Test Pad Card -->
    <ion-card button >
      <ion-card-header>
        <ion-card-title>Gamepads</ion-card-title>
        <ion-card-subtitle>Check the binding of your pads and test inputs.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content >
        <ion-button expand="block" style="height: 100px;" [routerLink]="['/pad-test']">Test</ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Gameplay Card -->
    <ion-card class="optionCard">
      <ion-card-header>
        <ion-card-title>Gameplay</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-range label="Player Number" aria-label="Player Number"  label-placement="fixed" [ticks]="true" [snaps]="true" [min]="1" [max]="4" [pin]="true" [pinFormatter]="pinFormatter" [value]="this.getConfigValue('playerNumber')" (ionChange)="updatePlayerNumber($event.detail.value)"></ion-range>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Display Card -->
    <ion-card class="optionCard">
      <ion-card-header>
        <ion-card-title>Display</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-toggle label="" [checked]="this.getConfigValue('showBars')" (ionChange)="updateConfigValue('showBars',$event.detail.checked)">Show Bars</ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
    <!-- Redet Card-->
    <ion-card class="optionCard">
      <ion-card-header>
        <ion-card-title>Reset Configuration</ion-card-title>
        <ion-card-subtitle>This will reset all settings to their default values and clear all preferences data.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="danger" (click)="resetAll()" >
          Reset to Default
        </ion-button>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
