.optionCard{
    padding: 10px;
    text-align: center;
    align-items: center;
    width: 31vw;
    height: 50vh;
    ion-card-header{
      padding: 1px;
      ion-card-title{
        margin: 0px;
      }
    }
    ion-card-content{
      padding: 2px;
      color: lightgray;
      max-height: 240px;
      ion-item{
       --background:transparent;
       --border-color: transparent;
      }
      ion-text{
        display: flex;
        font-size:smaller;
        line-height: 1.1;
        margin-bottom: 1px;
      }
    }
}
