<app-header title="Gamepad Test"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detected Gamepad List</ion-card-title>
      <ion-card-subtitle>If your gamepad is connected but not in the list, press a key !</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-item *ngFor="let gamepad of this.gamepadService.getGamepads()"> {{ gamepad.id }} </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="playersGamepadCard">
    <h2>Players Gamepad Attribution</h2>
    <div class="cardList">
      <ion-card *ngFor="let player of this.userConfigService.players; let index = index">
        <ion-card-header>
          <ion-card-title>{{player.id}} - {{ player.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-select placeholder="Select a gamepad" [value]="player.gamepad?.id" (ionChange)="updateGamepad(index, $event.detail.value)"> 
                <ion-select-option *ngFor="let gamepad of this.gamepadService.getGamepads()" [value]="gamepad.id">
                {{ gamepad.id }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item >
              <ion-button *ngIf="player.gamepad" expand="full" shape="round" fill="outline" [disabled]="playerSelected?.id === player.id" (click)="selectPlayer(player)">  Key mapping </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>

    <ng-container *ngIf="playerSelected && playerSelected.gamepad; else noGamepad">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Player key map : {{ playerSelected.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-subtitle> {{ playerSelected.gamepad.id }} </ion-card-subtitle>
        <ion-card-content>
          <div class="keybind-container">
            <ion-item *ngFor="let arrowKey of arrowKeys; let index = index">
              <ion-label color="primary"> {{ArrowDirection[arrowKey].toUpperCase()}} </ion-label>
              <ion-label>  {{ (playerSelected.gamepad.index === -1 ? keyboardBindings.get(arrowKey) : gampadBindings.get(arrowKey)) || 'Not Set' }} </ion-label>
              <ion-button slot="end" size="small" color="tertiary"  (click)="openBindPopover(arrowKey)"> Bind </ion-button>
            </ion-item>
          </div>
          <ion-button color="primary" expand="block" (click)="validateMapping()" style="margin-top: 10px;"> Validate </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>
    
    <ng-template #noGamepad>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No Gamepad Selected</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Select a Gamepad for a player to edit the bindings</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
    
    
  </ion-card>
</ion-content>
