.player-hud {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
}

.player-hud .player-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.player-hud .score {
    font-size: 24px;
    margin-bottom: 10px;
}

.performance-container {
    width: 150px;
    height: 20px;
    border: 2px solid white;
    background-color: #333;
    margin: auto;
}

.performance-bar {
    height: 100%;
    transition: width 0.2s ease-in-out;
}

.canvas-container {
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
canvas {
    width: 100%;
    height: 100%; 
    display: block;
  }

.guide-line {
    position: absolute;
    top: 10%;
    width: 100%; 
    height: 2px; 
    background-color: #00ff00;
    z-index: 5;
}
.arrow-goal {
    position: absolute;
    transform-origin: top left;
  }
  .arrow-goal.active {
    filter: brightness(2);
    border: 2px solid yellow;
  }