<div class="player-hud">
  <div class="score"> {{gameRound.player.name}} : {{ gameRound.score }}</div>
  <div class="performance-container">
      <div
          class="performance-bar"
          [style.width.%]="gameRound.performance"
          [style.backgroundColor]="getPerformanceColor()"
      ></div>
  </div>
</div>
<div style="display: flex; justify-content: center;">
<div class="canvas-container">
  <div class="guide-line">
      <img src="assets/Arrow/Arrow.png" alt="ArrowLeft" [width]="arrowCorrectedSize" [height]="arrowCorrectedSize" [style]="{ left: 12.5 + '%', transform: 'rotate(45deg) translate(-50%, -50%)' }" class="arrow-goal" [ngClass]="{'active': gameRound.dancepad.lastExposedState[ArrowDirection.Left] !== 0}"/>
      <img src="assets/Arrow/Arrow.png" alt="ArrowDown" [width]="arrowCorrectedSize" [height]="arrowCorrectedSize" [style]="{ left: 37.5 + '%', transform: 'rotate(-45deg) translate(-50%, -50%)' }" class="arrow-goal"  [ngClass]="{'active': gameRound.dancepad.lastExposedState[ArrowDirection.Down] !== 0}"/>
      <img src="assets/Arrow/Arrow.png" alt="ArrowUp" [width]="arrowCorrectedSize" [height]="arrowCorrectedSize" [style]="{ left: 62.5 + '%', transform: 'rotate(135deg) translate(-50%, -50%)' }" class="arrow-goal"  [ngClass]="{'active': gameRound.dancepad.lastExposedState[ArrowDirection.Up] !== 0}"/>
      <img src="assets/Arrow/Arrow.png" alt="ArrowRight" [width]="arrowCorrectedSize" [height]="arrowCorrectedSize" [style]="{ left: 87.5 + '%', transform: 'rotate(-135deg) translate(-50%, -50%)' }" class="arrow-goal"  [ngClass]="{'active': gameRound.dancepad.lastExposedState[ArrowDirection.Right] !== 0}"/>		
  </div>
  <canvas #gameCanvas></canvas>
  <div id="precision-text"></div>
</div>
</div>