ion-card{
  border-radius: 4px;
}
.home-content{
  --border-radius : 20px;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 10px 10px 5px rgb(0, 0, 0);
  margin: 1vh;
  font-weight: bolder;
  color: #020f1fdc;
  height: 1.4em;

}
