h2 {
  margin-bottom: 16px;
}

input[type="file"] {
  margin-bottom: 16px;
}


.btn-action-card{
  padding: 1px;

  ion-button {
    --background: #3880ff;
    --color: white;
  }
}

.center-childitem {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.upload-card{
  ion-card-header {
    ion-card-title {
      font-size: 2.4rem;
    }
    ion-card-subtitle:first-of-type {
      --color: red;
    }
    ion-card-subtitle {
      font-size: 1.8rem;
    }
  }
}