h2 {
  margin-bottom: 16px;
}

input[type="file"] {
  margin-bottom: 16px;
}


.btn-action-card{
  padding: 1px;

  ion-button {
    --background: #3880ff;
    --color: white;
  }
}

.datalist{
  ion-label{color: var(--ion-color-primary);}
  ::ng-deep ion-input .label-text{
    color: var(--ion-color-primary);
}
}

ion-item.changed {
  border-left: 3px solid #f57c00;
  background: #fff7f0;
}
