<app-header title="Upload"></app-header>
<ion-content [fullscreen]="false">
	@if(!isEditDB && !isEditLocal) {
	@if(isLoading) {
	<ion-card class="base-card">
		<ion-card-header>
			<ion-card-title>Loading...</ion-card-title>
		</ion-card-header>
		<ion-card-content class="flex-align-horizontal">
			<ion-spinner name="crescent"></ion-spinner>
		</ion-card-content>
	</ion-card>
	}
	@else {
	<ion-card class="base-card upload-card">
		<ion-card-header>
			<ion-card-title> Select a .sm, .ssc, or .essc File </ion-card-title>
			<ion-card-subtitle><i> Make sure <b>Artist</b> and <b>Title</b> are perfect in your file, you will not be able to edit them ! </i> </ion-card-subtitle>
			<ion-card-subtitle> To prevent any destruction, <b>Artist</b>, <b>Title</b>, <b>BPM</b>, <b>offset</b> and <b>music link</b> will be locked after first upload.</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content class="flex-align-horizontal">
			<input (change)="onFileSelected($event)" type="file" accept=".sm,.ssc,.essc">
		</ion-card-content>
	</ion-card>
	}
	}
	@else {
	<ion-grid>
		<ion-row>
			<ion-col size="8">
				<!-- Metadata Card -->
				<ion-card #metadataCard class="base-card">
					<ion-card-header>
						<ion-card-title>File Metadata</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-list lines="none">
							<music-editable-field label="Title" [value]="musicData.title" [valueDb]="musicDataDb?.title" [isEditing]="false"></music-editable-field>

							<music-editable-field label="Title (Translit)" [(value)]="musicData.titletranslit" [valueDb]="musicDataDb?.titletranslit" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Subtitle" [(value)]="musicData.subtitle" [valueDb]="musicDataDb?.subtitle" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Subtitle (Translit)" [(value)]="musicData.subtitletranslit" [valueDb]="musicDataDb?.subtitletranslit" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Artist" [value]="musicData.artist" [valueDb]="musicDataDb?.artist " (valueChange)="onEndEditing()" [isEditing]="false"> </music-editable-field>

							<music-editable-field label="Artist (Translit)" [(value)]="musicData.artisttranslit" [valueDb]="musicDataDb?.artisttranslit" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Genre" [(value)]="musicData.genre" [valueDb]="musicDataDb?.genre" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Credit" [(value)]="musicData.credit" [valueDb]="musicDataDb?.credit" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Banner" [(value)]="musicData.banner" [valueDb]="musicDataDb?.banner" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Jacket" [(value)]="musicData.jacket" [valueDb]="musicDataDb?.jacket" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="CD Title" [(value)]="musicData.cdTitle" [valueDb]="musicDataDb?.cdTitle" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Music" [(value)]="musicData.music" [valueDb]="musicDataDb?.music" (valueChange)="onEndEditing()" [isEditing]="isEditLocal && !isEditDB">
								<ion-icon name="logo-youtube" style="margin-right: 4px;" slot="start" />
								<ion-icon name="logo-soundcloud" style="margin-right: 4px;" slot="start" />
								@if(isDesktop){
								<ion-icon name="folder" slot="start" (click)="onPickLocalMusic()" />
								}
							</music-editable-field>

							<music-editable-field label="Beat 0 Offset (seconds)" type="number" [(value)]="musicData.offset" [valueDb]="musicDataDb?.offset" (valueChange)="onEndEditing()" [isEditing]="isEditLocal && !isEditDB"> </music-editable-field>

							<music-editable-field label="Sample Start" type="number" [(value)]="musicData.sampleStart" [valueDb]="musicDataDb?.sampleStart" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-field label="Sample Length" type="number" [(value)]="musicData.sampleLength" [valueDb]="musicDataDb?.sampleLength" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-field>

							<music-editable-list label="Bpms" [(value)]="musicData.bpms" [valueDb]="musicDataDb?.bpms" valueType="number" (valueChange)="onEndEditing()" [isEditing]="isEditLocal && !isEditDB"> </music-editable-list>

							<music-editable-list label="Stops" [(value)]="musicData.stops" [valueDb]="musicDataDb?.stops" valueType="number" (valueChange)="onEndEditing()" [isEditing]="isEditLocal && !isEditDB"> </music-editable-list>

							<music-editable-list label="Warps" [(value)]="musicData.warps" [valueDb]="musicDataDb?.warps" valueType="number" (valueChange)="onEndEditing()" [isEditing]="isEditLocal && !isEditDB"> </music-editable-list>

							<music-editable-list label="Speeds" [(value)]="musicData.speeds" [valueDb]="musicDataDb?.speeds" valueType="number" (valueChange)="onEndEditing()" [isEditing]="isEditLocal && !isEditDB"> </music-editable-list>

							<music-editable-list label="Scrolls" [(value)]="musicData.scrolls" [valueDb]="musicDataDb?.scrolls" valueType="number" (valueChange)="onEndEditing()" [isEditing]="isEditLocal && !isEditDB"> </music-editable-list>

							<music-editable-list label="Backgrounds" [(value)]="musicData.bgChanges " [valueDb]="musicDataDb?.bgChanges" valueType="string" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-list>

							<music-editable-list label="Labels" [(value)]="musicData.labels" [valueDb]="musicDataDb?.labels" valueType="string" (valueChange)="onEndEditing()" [isEditing]="isEditLocal"> </music-editable-list>

						</ion-list>
					</ion-card-content>
				</ion-card>
				<ion-card class="base-card">
					<ion-card-header>
						<ion-card-title>Background previews</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						@for (bgChange of (isEditLocal ? musicData : musicDataDb)?.bgChanges; track $index) {
						<ion-item>
							<ion-label position="stacked"> Background at {{bgChange.time}} </ion-label>
							<ion-img [src]="'https://'+bgChange.value" class="preview-image" />
						</ion-item>
						}
					</ion-card-content>
				</ion-card>
			</ion-col>

			<ion-col>
				<!-- Buttons card-->
				<ion-card class="base-card btn-action-card">
					<ion-card-content>
						@if (isEditLocal) {
						@if(isLocalMusic()){
						<p style="color: var(--ion-color-warning);"> You are currently editing a local music file. Switch to url to be able to upload </p>
						}
						@else{
						<ion-button (click)="uploadMusic()" color="success" expand="block" [disabled]="isEditDB && !metadataDirty()"> {{ isEditDB ? 'Update music' : 'Upload music'}} </ion-button>
						}
						@if (isEditDB) {
						<ion-button (click)="uploadAllNotes()" expand="block" [disabled]="!anyNoteDirty()"> Upload All notes </ion-button>
						@if (noNotes()) {
						<ion-button color="danger" (click)="deleteMusic()" [disabled]="!noNotes()" expand="block"> Delete Music </ion-button>
						}
						}
						<ion-button color="danger" (click)="deleteFile()" size="small" expand="block"> <ion-icon *ngIf="metadataDirty() || anyNoteDirty()" name="trash-outline"></ion-icon> {{metadataDirty() || anyNoteDirty() ? 'Discard local edit' : 'Cancel edition'}} </ion-button>
						}
						@else {
						<ion-button (click)="onStartEdit()" expand="block"> Edit Music </ion-button>
						}

						<ion-button (click)="exportEssc()" size="small">
							Export Essc
						</ion-button>
					</ion-card-content>
				</ion-card>
				<!-- Image Preview Card -->
				<ion-card class="base-card">
					<ion-card-header>
						<ion-card-title>Jacket preview</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-item>
							<ion-label position="stacked"> Jacket </ion-label>
							<ion-img [src]="'https://'+(isEditLocal ? musicData : musicDataDb)?.jacket" class="preview-image" />
						</ion-item>
					</ion-card-content>
				</ion-card>
				<ion-card class="base-card">
					<ion-card-header>
						<ion-card-title>Music preview</ion-card-title>
					</ion-card-header>
					<ion-card-content style="max-width: 30vw;">
						@switch (pickMusicPlayer((isEditLocal ? musicData : musicDataDb)?.music ?? "")) {
						@case (MusicOrigin.Youtube){
						<app-music-player-youtube [musicUrl]="(isEditLocal ? musicData : musicDataDb)?.music!" [size]="{ width: '100%', height: '100%' }"></app-music-player-youtube>
						}
						@case (MusicOrigin.Soundcloud){
						<app-music-player-soundcloud [musicUrl]="(isEditLocal ? musicData : musicDataDb)?.music!" [size]="{ width: '100%', height: '100%' }"></app-music-player-soundcloud>
						}
						@case (MusicOrigin.Local){
						<app-music-player-local [musicUrl]="(isEditLocal ? musicData : musicDataDb)?.music!" [size]="{ width: '100%', height: '100%' }"></app-music-player-local>
						}
						}

					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<!-- Notes Data Card -->
				<ion-card class="base-card">
					<ion-card-header>
						<ion-card-title>Notes Data</ion-card-title>
					</ion-card-header>
					<ion-card-content class="card-grid">
						@for (note of (isEditLocal ? musicData : musicDataDb)?.noteData; track $index) {
						@let noteDb = getDbNote(note.chartName);
						<ion-card #notesCard [disabled]="!isNoteMine(note)">
							<ion-card-header>
								<ion-card-title>
									<ion-input [(ngModel)]="note.chartName" [disabled]="!isEditLocal || noteDb !== undefined"></ion-input>
								</ion-card-title>
							</ion-card-header>
							<ion-card-content>
								<ion-list>
									<music-select label="Dance Type" [(value)]="note.stepsType" [valueDb]="noteDb?.stepsType" [isEditing]="isEditLocal" (valueChange)="onEndEditing()" [options]="DanceTypeList">
									</music-select>

									<music-editable-field label="Description" [(value)]="note.description" [valueDb]="noteDb?.description" [isEditing]="isEditLocal" (valueChange)="onEndEditing()">
									</music-editable-field>

									<music-select label="Difficulty" [(value)]="note.difficulty" [valueDb]="noteDb?.difficulty" [isEditing]="isEditLocal" (valueChange)="onEndEditing()" [options]="NoteDifficultyList">
									</music-select>

									<music-editable-field label="Meter" [(value)]="note.meter" [valueDb]="noteDb?.meter" [isEditing]="isEditLocal" type="number" (valueChange)="onEndEditing()" [warningMessage]="'Meter has been computed on upload from criterias to match DDR level as much as possible. Change it only if you know what you are doing !'">
									</music-editable-field>

									<music-editable-field label="Credit" [(value)]="note.credit" [valueDb]="noteDb?.credit" [isEditing]="isEditLocal" (valueChange)="onEndEditing()">
									</music-editable-field>

									<ion-item [title]="noteDb?.creationDate">
										<ion-label> <strong class="primary">Creation Date:</strong> {{ (note.creationDate | date:'dd/MM/yyyy') }} </ion-label>
									</ion-item>
								</ion-list>
								<div class="center-childitem">
									<app-radar-score [scores]="[note.difficultyCriterias!]" [size]="300"></app-radar-score>
								</div>
								<p>
									<strong>Total Measures:</strong>
									{{ note.stepChart.length }}
								</p>
								<p>
									<strong>Tap:</strong>
									{{ getStepCount(note.stepChart, 1) }}
								</p>
								<p>
									<strong>Hold:</strong>
									{{ getStepCount(note.stepChart, 2) }}
								</p>
								<p>
									<strong>Roll:</strong>
									{{ getStepCount(note.stepChart, 4) }}
								</p>
								<p>
									<strong>Mine:</strong>
									{{ getStepCount(note.stepChart, 5) }}
								</p>
							</ion-card-content>
							<!-- Notes Buttons card-->
							@if (isNoteMine(note) && isEditLocal) {
							<ion-card class="base-card btn-action-card">
								<ion-card-content>
									<!--ion-button (click)="TestNote(note)" color="tertiary" size="small" expand="block"> Test </ion-button-->
									@if(musicDataDb){
									<ion-button (click)="uploadNote(note)" size="small" [color]="noteDb?'primary':'success'" expand="block" [disabled]="!notesDirty()[$index]"> {{ noteDb ? 'Update notes' : 'Upload notes'}}</ion-button>
									}@else {
									<p style="color: var(--ion-color-warning);"> Upload your music first to upload notes </p>
									}
									<ion-button (click)="deleteNote(note)" color="danger" size="small" expand="block" [disabled]="!isEditLocal"> {{ noteDb ? 'Delete from database' : 'Remove notes'}} </ion-button>
								</ion-card-content>
							</ion-card>
							}
						</ion-card>
						}
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<!-- Additional Fields Card -->
				<ion-card class="base-card">
					<ion-card-header>
						<ion-card-title>Additional Fields</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<div *ngFor="let field of musicData.additionalFields | keyvalue">
							<p>
								<strong>{{ field.key }}:</strong>
								{{ field.value }}
							</p>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	}
</ion-content>