<ion-item [class.changed]="isEditing && value.length !== valueDb?.length" title="Rows: was {{ valueDb?.length ?? 0 }} | is {{ value.length }}">
  <ion-label color="primary"><strong>{{ label }}</strong></ion-label>
  <ion-list>

    @if (isEditing) {
    @for (row of value; track $index; let i = $index) {

    <ion-item [class.changed]="isRowChanged(i)" [title]="formatRow(valueDb?.[i])">

      <ion-input label="Time (s)" type="number" [(ngModel)]="row.time" (ionChange)="onFieldChange()"> </ion-input>
      <ion-input label="Value" [type]="valueType" [(ngModel)]="row.value" (ionChange)="onFieldChange()"></ion-input>

      <ion-button color="danger" (click)="removeRow(i)">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>

    </ion-item>

    }

    <ion-item>
      <ion-button color="success" size="small" (click)="addRow()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>

    }

    @else {
    @for (row of valueDb; track $index) {
    <ion-item>
      <ion-input label="Time (s)" type="number" value="{{ row.time }}" readonly> </ion-input>
      <ion-input label="Value" [type]="valueType" value="{{ row.value }}" readonly> </ion-input>
    </ion-item>
    }
    }


  </ion-list>

</ion-item>