<app-header title="Options"></app-header>

<ion-content>
  <div class="card-grid">

    <!-- Test Pad Card -->
    <ion-card class="base-card">
      <ion-card-header>
        <ion-card-title>Gamepads</ion-card-title>
        <ion-card-subtitle>Check the binding of your pads and test inputs.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" style="height: 100px;" [routerLink]="['/options/pad-test']">Bind
          gamepads</ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Gameplay Card -->
    <ion-card class="base-card">
      <ion-card-header>
        <ion-card-title>Gameplay</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-range label="Player Number" aria-label="Player Number" label-placement="fixed" [ticks]="true"
            [snaps]="true" [min]="1" [max]="4" [pin]="true" [pinFormatter]="pinFormatter"
            [value]="this.getConfigValue('playerNumber')"
            (ionChange)="updatePlayerNumber($event.detail.value)"></ion-range>
        </ion-item>
        <ion-item>
          <ion-toggle aria-label="Training Mode" helperText="Disable fail and stats"
            [checked]="this.getConfigValue('trainingMode')"
            (ionChange)="updateConfigValue('trainingMode',$event.detail.checked)">
            Training Mode
          </ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Display Card -->
    <ion-card class="base-card">
      <ion-card-header>
        <ion-card-title>Display</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-toggle label="" [checked]="this.getConfigValue('showBars')"
            (ionChange)="updateConfigValue('showBars',$event.detail.checked)">Show Bars</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-input label="Game Width" type="number" [value]="this.getConfigValue('canvasWidth')"
            (ionChange)="updateConfigValue('canvasWidth', $event.detail.value)">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Game height" type="number" [value]="this.getConfigValue('canvasHeight')"
            (ionChange)="updateConfigValue('canvasHeight', $event.detail.value)">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-button expand="full" (click)="verifyDisplay()">Verify display</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Reset Card-->
    <ion-card class="base-card danger-card">
      <ion-card-header>
        <ion-card-title>Reset Configuration</ion-card-title>
        <ion-card-subtitle>This will reset all settings to their default values and clear all preferences
          data.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="danger" (click)="resetAll()">
          Reset to Default
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Music Cache Settings Card -->
    <ion-card class="base-card danger-card">
      <ion-card-header>
        <ion-card-title>Music Storage</ion-card-title>
        <ion-card-subtitle>
          Manage local storage of song data. Disabling can reduce storage but may cause slower loading and prevent
          you from accessing the app offline.
        </ion-card-subtitle>
      </ion-card-header>

      <!-- Music Cache Options -->
      <ion-card-content>
        <ion-item>
          <ion-toggle [checked]="this.getConfigValue('allowCache')"
            (ionChange)="updateConfigValue('allowCache', $event.detail.checked)"
            helperText="Disabling will not clear existing cache">
            Enable Cache
          </ion-toggle>
        </ion-item>
        <ion-button expand="block" color="danger" (click)="clearMusicCache()">
          Clear All Stored Game Songs
        </ion-button>
        <ion-button expand="block" color="danger" (click)="clearMusicEditCache()">
          Clear All Editor Songs
        </ion-button>
      </ion-card-content>
    </ion-card>


  </div>
  <ion-modal [isOpen]="showPlayerDisplay" (didPresent)="this.playerDisplay?.Update(0)">
    <ng-template>
      <app-player-display [gameRound]="getFakeGameRound()"></app-player-display>
    </ng-template>
  </ion-modal>
</ion-content>