.danger-card {
  --ion-color-base: var(--ion-color-danger);
  --ion-card-background: var(--ion-color-danger-shade);

  ion-card-header,
  ion-card-content {
    color: white;
  }

  ion-button {
    --background: white;
    --color: var(--ion-color-danger);
    font-weight: 500;
  }

  ion-toggle {
    --handle-background-checked: white;
    --background-checked: rgba(255, 255, 255, 0.3);
  }

  box-shadow: 0 2px 10px rgba(255, 0, 0, 0.2);
}
