.arrow {
  position: absolute;
  bottom: 0;
  width: 25%; /* Largeur de chaque colonne */
  display: flex;
  justify-content: center;
  animation: moveUp 3s linear infinite;
}

@keyframes moveUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}
