ion-content{
  --background: grey ;
  --overflow: hidden;
}

.arrow-goal {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 20vh;
}
.arrow-goal.active {
  filter: brightness(2);
  border: 2px solid yellow;
}

.arrow-container {
  position: absolute;
  width: 50vw;
  height: 100%;
  overflow-y: visible;
}

.arrowline {
  position: absolute;
  width: 100vw;
  height: 10px;
}

.bar {
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: rgb(30, 30, 30);
}

.debug-stamp{
  font-size: 40px;
}
