<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-button slot="start" (click)="goBack()">
			<ion-icon name="arrow-back"></ion-icon>
		</ion-button>
		<ion-title>{{ music?.title }} - {{ music?.artist }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="'url(' + game?.getCurrentBackground() + ') center/cover no-repeat'">

	@if(loadingMusic){
	<app-waiting-screen [title]="music!.title" [artist]="music!.artist" [coverUrl]="music!.jacket" (onCountdownFinished)="handleCountdownFinished()"></app-waiting-screen>
	}

	@if(game){
	@if(game.isGameOver){
	<app-game-over *ngFor="let gameRound of game.gameRounds" [gameRound]="gameRound"></app-game-over>
	<ion-card class="base-card start-card" style="height: 15vh;" (click)="goBack()"> Back to music list
	</ion-card>
	}
	@else {
	<app-player-display *ngFor="let gameRound of game.gameRounds" [gameRound]="gameRound"></app-player-display>
	}
	}

	<!-- Music Player -->
	@switch (musicOrigin) {
	@case (MusicOrigin.Youtube){
	<app-music-player-youtube [musicUrl]="music?.music!" (onReady)="onPlayerReady($event)"></app-music-player-youtube>
	}
	@case (MusicOrigin.Soundcloud){
	<app-music-player-soundcloud [musicUrl]="music?.music!" (onReady)="onPlayerReady($event)"></app-music-player-soundcloud>
	}
	@case (MusicOrigin.Local){
	<app-music-player-local [musicUrl]="music?.music!" (onReady)="onPlayerReady($event)"></app-music-player-local>
	}
	}

</ion-content>