<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Game</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
		<iframe width="100%" height="100%" [src]="videoUrl" title="YouTube video player" frameborder="0" allow="autoplay;" referrerpolicy="strict-origin-when-cross-origin" style="pointer-events: none;" allowfullscreen></iframe>	
	</div>
	<div class="row-goal">
		<img src="assets/Arrow/Arrow.png" alt="ArrowLeft" [style]="{ left: 20 + '%', transform: 'rotate(45deg)' }" class="arrow-goal" />
		<img src="assets/Arrow/Arrow.png" alt="ArrowDown" [style]="{ left: 40 + '%', transform: 'rotate(-45deg)' }" class="arrow-goal" />
		<img src="assets/Arrow/Arrow.png" alt="ArrowUp" [style]="{ left: 60 + '%', transform: 'rotate(135deg)' }" class="arrow-goal" />
		<img src="assets/Arrow/Arrow.png" alt="ArrowRight" [style]="{ left: 80 + '%', transform: 'rotate(-135deg)' }" class="arrow-goal" />		
	</div>

	<div id="arrow-container" class="arrow-container">
		<div *ngFor="let bar of musicLength" class="bar" [style.top]="bar + 'px'" > </div>
		<div *ngFor="let bar of musicLength; let i = index" class="bar" [style.top]="bar + 'px'">
			<span class="debug-stamp" *ngIf="(i + 1) % 4 === 0">
			  {{ (i + 1) / 4 }}
			</span>
		  </div>
		  
		<app-arrowline class="arrowline" *ngFor="let line of arrowlines" [arrows]="line.arrows" [beatDivision]="line.beatDivision" [style.top]="line.position + 'px'"></app-arrowline>
	</div>


</ion-content>
