ion-content{
  --background: grey ;
  --overflow: hidden;
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  animation: moveUp linear infinite;
}

.arrow-container {
  position: absolute;
  width: 50vw;
  height: 100%;
  overflow-y: visible;
}

.arrowline {
  position: absolute;
  width: 100vw;
  height: 10px;
}

.arrow-goal {
  position: absolute;
}


@keyframes moveUp {
  from {
    bottom: 0px;
  }
  to {
    bottom: 100%;
  }
}
