<app-header title="About Dance Corp."></app-header>

<ion-content [fullscreen]="false">
  <ion-card class="base-card">
    <ion-card-content class="ion-padding">
      <h2><b>This web app is a project aiming to recreate the Step Mania / DDR experience in a web browser.</b></h2>
      <p> All assets are made personally or sourced from free-to-use resources. </p>
      <p> Songs are not hosted and only streamed from external sources : <ion-icon name="logo-youtube" /> <ion-icon name="logo-soundcloud" /></p>
      @if(isDesktop){
      <p> This desktop version allow to add song locally. Those songs are not uploaded and only accessible on your device.</p>
      }
      <br>
      <p> Voices credits (CC-BY) : <i> Aimee Smith </i> : female announcers | <i> VoiceBosch </i> : male announcer</p>
      <br>
      <p>
        <ion-icon name="logo-html5" />  
        <ion-icon name="logo-css3" />
        <ion-icon name="logo-angular" />
        <ion-icon name="logo-ionic" />
      </p>
      <p>For more information, visit the project sources: <a href="https://github.com/Fx73/Dance-Corp">GitHub</a></p>
      <p> If you have any issue or suggestion, please <a href="https://github.com/Fx73/Dance-Corp/issues">open an issue</a> on the project page or <a href="mailto:fx73000@yahoo.fr?subject=DanceCorp - Issue/Suggestion">Send me an email</a></p>
      <br>
      <ion-badge color="primary"> Dance Corp. {{ version }} </ion-badge>
      @if(isDesktop){
      <ion-badge color="secondary" style="margin-left: 4px;"> Desktop </ion-badge>
      }
    </ion-card-content>
  </ion-card>

  <ion-card class="base-card">
    <ion-card-content class="ion-padding">
      <h1> 📁 File Reader </h1>
      <p><b> Reader accepts stepmania files, SM and SSC.</b></p>
      <p> It create an Essc file (extended scc) which is actually an scc with unused field remove and one change : all
        special
        notes are converted to integer as following</p>
      <p> 0 = no note</p>
      <p> 1 = tap note</p>
      <p> 2 = hold head</p>
      <p> 3 = Hold/roll/Minefield end</p>
      <p> 4 = Roll head</p>
      <p> 5 = Mine <i>(was M)</i></p>
      <p> 6 = Minefield head<i>(was N)</i></p>
      <p> 7 = Fake<i>(was F)</i></p>
      <p> 8 = Hidden<i>(was H)</i></p>

    </ion-card-content>
  </ion-card>
  <ion-card class="base-card">
    <ion-card-content class="ion-padding">
      <h1> 🎮 Gameplay </h1>

      <h2> Score calculation</h2>
      <p> The score is calculated based on a perfect score of 1 000 000. It is divided between tap and hold. Mines does not count on score.</p>

    </ion-card-content>
  </ion-card>
</ion-content>