ion-col{
  margin: 0;
  padding: 0;
}



.cardList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}




.menuCardBtn{
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: auto;
  --padding-start:0;
  --padding-end:0;
 --background: lightgrey;
}
