.menuCardBtn{
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: auto;
  --padding-start:0;
  --padding-end:0;
 --background: lightgrey;
}


ion-col{
  margin: 0;
  padding: 0;
}


.flex-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
