ion-col{
  margin: 0;
  padding: 0;
}

.cardList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  gap: 15px;
}
.card-grid > ion-card {
  min-width: 300px;
  width: 100%;
  margin: 15px auto -5px;
}

.base-card {
  padding: 6px;
  border-radius: 16px;
  text-align: center;
  align-items: center;
  border: solid 1px #ccc;
  box-shadow: 0 6px 1px -4px rgba(255, 255, 255, 0.2),
              0 4px 4px 0 rgba(255, 255, 255, 0.14),
              0 2px 10px 0 rgba(255, 255, 255, 0.12);
}
.base-card > ion-card-header > ion-card-title {
  font-size: 30px;
  font-weight: bold;
 }
 .base-card > ion-card-header > ion-card-subtitle {
  font-size: 20px;
 }

.menuCardBtn{
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: auto;
  --padding-start:0;
  --padding-end:0;
 --background: lightgrey;
}
