<div class="arrow-line">
    <app-arrow *ngIf="arrows[0]" class="arrow" [direction]="ArrowDirection.Left" [style]="{ left: 20 + '%' }" [beatDivision]="beatDivision"></app-arrow>
    <app-arrow *ngIf="arrows[1]" class="arrow" [direction]="ArrowDirection.Down" [style]="{ left: 40 + '%' }" [beatDivision]="beatDivision"></app-arrow>
    <app-arrow *ngIf="arrows[2]" class="arrow" [direction]="ArrowDirection.Up" [style]="{ left: 60 + '%' }" [beatDivision]="beatDivision"></app-arrow>
    <app-arrow *ngIf="arrows[3]" class="arrow" [direction]="ArrowDirection.Right" [style]="{ left: 80 + '%' }" [beatDivision]="beatDivision"></app-arrow>
</div>
  