.player-card-list {
  display: flex;
  justify-content: center;
  align-items: center;      
  width: 100%;            
  gap: 8px;              
}
.player-card-list > ion-card{
  flex: 1 1 25%;   
  max-width: 25%; 
  min-width: 180px;
}

.player-card{
    background: black;
}

.add-player-card {
    background: linear-gradient(135deg, black, transparent);
    color: white;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
  .add-player-card:hover {
    transform: scale(1.05);
  }
