<app-header title="Player Selection"></app-header>

<ion-content [fullscreen]="true">
  <ion-card class="base-card start-card" [disabled]="!allPlayersReady" [routerLink]="['/play/browse']">
    Start
  </ion-card>
  <ion-card class="base-card">
    <ion-card-header>
      <ion-card-title>{{ this.userConfigService.players.length}} Players</ion-card-title>
    </ion-card-header>
    <ion-card-content class="player-card-list">
      <ion-card *ngFor="let player of this.userConfigService.players; let index = index" class="player-card">
        <ion-card-header>
          <ion-card-title> Player {{index}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-select *ngIf="index !== 0" label="Dancer" labelPlacement="stacked" placeholder="Select a user"
              [value]="player.userId" (ionChange)="updateUser(index, $event.detail.value)">
              <ion-select-option *ngFor="let user of userList" [value]="user.id">
                {{ user.name }}
              </ion-select-option>
              <ion-select-option [value]="null"> Anonymous </ion-select-option>
            </ion-select>
            <ion-input *ngIf="index === 0" disabled label="Dancer" labelPlacement="stacked"
              [value]="player.userId ? player.name : 'Anonymous'">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-select label="Gamepad" labelPlacement="stacked" placeholder="Select a gamepad"
              [value]="player.gamepad?.id" (ionChange)="updateGamepad(index, $event.detail.value)">
              <ion-select-option *ngFor="let gamepad of this.gamepadService.getGamepads()" [value]="gamepad.id">
                {{ gamepad.id }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button *ngIf="index !== 0" color="primary" expand="block" size="small" (click)="removePlayer(index)"
            style="margin-top: 10px;">
            Remove
          </ion-button>
          <ion-button *ngIf="index === 0" style="visibility: hidden;"></ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="this.userConfigService.players.length < 4" class="add-player-card" (click)="addPlayer()">
        <ion-card-header>
          <ion-card-subtitle>Add player</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="add-circle" size="large"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-card class="base-card">
    <ion-card-header>
      <ion-card-title>Status</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ GetPlayerStatus()}}
    </ion-card-content>
  </ion-card>

</ion-content>