ion-card{
  border-radius: 4px;
  border: solid 1px #ccc;
  padding: 2px;
  z-index: 1;
  align-items: center;
  box-shadow: 0 6px 1px -4px rgba(255, 255, 255, 0.2),
              0 4px 4px 0 rgba(255, 255, 255, 0.14),
              0 2px 10px 0 rgba(255, 255, 255, 0.12);

  ion-card-header{
    padding: 8px;
    text-align: center;
    ion-card-subtitle{
      margin: 0;
    }
  };
  ion-card-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.home-content{
  --border-radius : 20px;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 10px 10px 5px rgb(0, 0, 0);
  margin: 1vh;
  font-weight: bolder;
  color: #020f1fdc;
  height: 1.4em;

}
.start-button{
  height: 100px ;
}

.home-fontsize{
  font-size: min(24px,2vw);
}
