<app-header title="Browse Musics"></app-header>
<ion-content fullscreen="false">
  <div id="music-list">
    <ion-searchbar [debounce]="1000" (ionInput)="onSearch($event)" show-clear-button="focus"
      style="background-color:white"></ion-searchbar>
    <div class="cardList">
      <!-- Add music-->
      <ion-card (click)="pickMusic()" class="basicCard add-card">
        <ion-card-header>
          <ion-card-title>Add Music</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="add-circle-outline" style="font-size: 20rem; color: var(--ion-color-tertiary);"></ion-icon>
        </ion-card-content>
      </ion-card>

      <!-- Edited music -->
      <ion-card *ngFor="let music of storedMusics" (click)="pickMusic(music)" class="basicCard stored-card">
        <ion-card-header>
          <ion-badge color="secondary">In Edition</ion-badge>
          <ion-card-title>{{ music.title }}</ion-card-title>
          <ion-card-subtitle>{{ music.artist }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="basicCardContent">
          <ion-img [src]="'https://' + music.jacket"></ion-img>
        </ion-card-content>
      </ion-card>

      <!-- Music cards -->
      <ion-card *ngFor="let music of musics" (click)="pickMusic(music)" class="basicCard">
        <ion-img [src]="'https://'+music.jacket" [style.max-height.%]="80"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ music.title }}</ion-card-title>
          <ion-card-subtitle>{{ music.artist }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="basicCardContent">
        </ion-card-content>
      </ion-card>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>