<app-header title="Browse Musics"></app-header>
<ion-content fullscreen="false">
  <ion-split-pane when="xs" contentId="music-list">
    <ion-menu contentId="music-list">
      <ion-card *ngIf="selectedMusic" class="levelCard"
        [ngStyle]="{'background-image': 'url(https://' + selectedMusic.jacket + ')'}">
        <ion-card-header>
          <ion-card-title> {{ selectedMusic.title }} </ion-card-title>
          <ion-card-subtitle> {{ selectedMusic.artist }} </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card *ngFor="let note of notes" class="note-card" (click)="runGame(note)"
            [style.backgroundColor]="getNoteColor(note.difficulty)">
            <ion-card-content>
              <div class="difficulty">
                {{ note.difficulty }}
              </div>
              <app-grade *ngIf="userScores[note.chartName]" [score]="userScores[note.chartName]" class="score" />
              <ion-card color="light" class="meter">{{ note.meter }}</ion-card>
            </ion-card-content>
          </ion-card>

        </ion-card-content>
      </ion-card>
    </ion-menu>
    <div id="music-list">
      <ion-searchbar [debounce]="1000" (ionInput)="onSearch($event)" show-clear-button="focus"
        style="background-color:white"></ion-searchbar>
      <div class="cardList">
        <!-- Music cards -->
        <ion-card *ngFor="let music of musics" (click)="showLevels(music)" class="basicCard"
          [ngClass]="selectedMusic?.id === music.id ? 'selectedCard' : ''">
          <ion-card-header>
            <ion-card-title>{{ music.title }}</ion-card-title>
            <ion-card-subtitle>{{ music.artist }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="basicCardContent">

            <ion-text>BPM :{{ music.bpms[0].bpm }}</ion-text>
            <ion-img [src]="'https://'+music.jacket"></ion-img>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-split-pane>
</ion-content>