<app-header title="Browse Musics"></app-header>
<ion-content fullscreen="false">
  <ion-split-pane when="xs" contentId="music-list">
    @let selectedMusic = getSelectedMusic(selectedMusicIndex());

    <ion-menu contentId="music-list">
      @if (selectedMusic) {
      @switch (pickMusicPlayer(selectedMusic.music!)) {
      @case (MusicOrigin.Youtube){
      <app-music-player-youtube [musicUrl]="selectedMusic.music!" (onReady)="onPlayerReady($event)" [startOffset]="selectedMusic?.musicoffset"></app-music-player-youtube>
      }
      @case (MusicOrigin.Soundcloud){
      <app-music-player-soundcloud [musicUrl]="selectedMusic?.music!" (onReady)="onPlayerReady($event)" [startOffset]="selectedMusic?.musicoffset"></app-music-player-soundcloud>
      }
      @case (MusicOrigin.Local){
      <app-music-player-local [musicUrl]="selectedMusic?.music!" (onReady)="onPlayerReady($event)" [startOffset]="selectedMusic?.musicoffset"></app-music-player-local>
      }
      }
      <ion-card class="levelCard" [ngStyle]="{'background-image': 'url(https://' + selectedMusic.jacket + ')'}">
        <ion-card-header>
          <ion-card-title> {{ selectedMusic.title }} </ion-card-title>
          <ion-card-subtitle> {{ selectedMusic.artist }} </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          @for (note of musicNotes(); track $index) {
          @let userNote = getUserNote(note.chartName);
          <ion-card class="note-card" (mouseenter)="onSelectNote($index)" (click)="runGame()" [style.backgroundColor]="getNoteColor(note.difficulty)">
            <ion-card-content>
              <ion-img class="player-number-icon" [src]="note.stepsType === DanceType.DanceSingle ? 'assets/Icons/SingleDance.png' : 'assets/Icons/DoubleDance.png'"></ion-img>
              <div class="badge-container" [style.--badge-left]="'4vw'">
                @for (playerIndex of getPlayersForNote($index); track playerIndex) {
                <ion-badge slot="end" class="player-badge" [style.backgroundColor]="getPlayerColor(playerIndex)">{{ playerIndex + 1 }}</ion-badge>
                }
              </div>
              <div class="difficulty">
                {{ note.difficulty }}
              </div>
              @if(userNote){
              <div class="badge-container" [style.--badge-right]="'4vw'">
                <app-grade [score]="userNote.highScore" [failed]="!userNote.passed" class="score" />
              </div>
              }
              <ion-card color="light" class="meter">{{ note.meter }}</ion-card>
            </ion-card-content>
          </ion-card>
          }
        </ion-card-content>
      </ion-card>
      <ion-card class="basicCard difficultyCard">
        <ion-card-content>
          <app-radar-score [scores]="getSelectedNotesDifficulty()" [size]="200"> </app-radar-score>
        </ion-card-content>
      </ion-card>
      }
    </ion-menu>

    <div id="music-list">
      <ion-searchbar [value]="searchQuery" [debounce]="1000" (ionInput)="onSearch($event)" show-clear-button="focus" style="background-color:white" class="search-input"></ion-searchbar>
      <div style="height: 95%;overflow-y: scroll;" class="ion-content-scroll-host">
        <div class="cardList">
          <!-- Edited music -->
          @for (music of storedMusics(); track $index) {
          <ion-card #musicCard (click)="onSelectMusic($index)" class="basicCard music-card stored-card" [ngClass]="selectedMusic?.id === music.id ? 'selectedCard' : ''">
            <ion-img [src]="'https://'+music.jacket"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ music.title }}</ion-card-title>
              <ion-card-subtitle>{{ music.artist }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="basicCardContent">
              <ion-text>BPM :{{ music.bpms[0].value }}</ion-text>
            </ion-card-content>
          </ion-card>
          }

          <!-- Music cards -->
          @for (music of dbMusics(); track $index) {
          <ion-card #musicCard (click)="onSelectMusic($index + storedMusics.length)" class="basicCard music-card" [ngClass]="selectedMusic?.id === music.id ? 'selectedCard' : ''">
            <ion-img [src]="'https://'+music.jacket"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ music.title }}</ion-card-title>
              <ion-card-subtitle>{{ music.artist }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="basicCardContent">
              <ion-text>BPM :{{ music.bpms[0].value }}</ion-text>
            </ion-card-content>
          </ion-card>
          }
        </div>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </div>
  </ion-split-pane>
</ion-content>